/* color variables */
html {
  --theme-bg-dark: #282547;
  --theme-bg: #433d68;
  --content-bg: #f6f4f8;

  --text-light: #f6f4f8;
  --text-color: #1a1530;
  --primary-color: #6e63a6;
  --muted-color: #ebe5e5;
  --control-border: #c7c0c8;
  --control-border-hover: #958ba9;
  --dark-accent-text: #d8ba92;

  --error-color: #e67ca0;
  --warning-color: #f5c16c;
  --success-color: #6ac39a;

  --error-color-light: #f1c9d7;
  --warning-color-light: #fcecd3;
  --success-color-light: #d6efe3;

  --high-color: #e67ca0;
  --medium-color: #f5c16c;
  --low-color: #6ac39a;

  --high-color-light: #f1c9d7;
  --medium-color-light: #fcecd3;
  --low-color-light: #d6efe3;

  --font-body:
    ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari,
    'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro,
    sans-serif;
  --font-title:
    ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari,
    'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro,
    sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--text-color);
}

input[type='checkbox'] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--control-border);
  border-radius: 0.5rem;
  position: relative;
  vertical-align: -2px;
  color: var(--primary-color);
}

input[type='checkbox']::before {
  content: '✔';
  position: absolute;
  font-size: 1.5rem;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

input[type='checkbox']:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

input[type='checkbox']:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}
