@import './reset.css';
@import './global.css';

body {
  background: linear-gradient(
    180deg,
    var(--theme-bg-dark) 0%,
    var(--theme-bg) 100%
  );
}

#app {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  min-height: 100dvh;
}

main {
  flex: 1;
  background-color: var(--content-bg);
  border-radius: 1rem;
  padding: 2rem;
}

.sidebar {
  padding: 1.5rem;
}
