.task-item {
  border: 1px solid var(--muted-color);
  border-radius: 0.5rem;
}

.task-title {
  font-weight: bold;
}

.task-checkbox {
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
}

.task-done {
  text-decoration: line-through;
}

.task-actions > button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.task-actions {
  display: flex;
  gap: 1rem;
}
