.task-row {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  gap: 1rem;
  border-bottom: 1px solid var(--muted-color);
  padding: 0.25rem 0.75rem;
}

.task-list-header {
  text-transform: uppercase;
  color: var(--primary-color);
}

.task-list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--muted-color);
  border-radius: 0.5rem;
}
